#linkedin {
    height: 40px;
    width: 40px;
}
#resume {
}
#name {
    width: 450px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#navbar {
    width: 450px;
}
#nav {
    margin-top: 0px;
    border-top: 2px solid darkgray;
}
#footer {
    padding: 10px;
    text-align: center;
}

.bar {
    border-bottom: 2px solid lightgray;
}